# Discord token
TOKEN=0000000000000
# Guild ID
GUILDID=0000000000000
# Application ID
CLIENTID=0000000000000
# Database URL
DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE
# Steam Web API key
STEAM_API_KEY=0000000000000